/* css:
/geral/ */

body {
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
   padding: 70px 0; /* /cima/   /direita/   /baixo/   /esquerda/ */
}

.row {
  margin: 0;
}

p, li {
  color: #0f1026 ;
  font-size: 14px ;
}

/* /sobre/ */

#about-area {
  background-color: #f2f2f2;

}

.main-title {
  text-align: center;
  margin-bottom: 8%;
  font-size: 40px;
  color: #0f1026
}

.title-uppercase {
  color: #0f1026;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
}

#about-list {
  list-style: none;
  padding: 0;
}

#about-list i {
  color: #4973f2;
  margin-right: 15px;

}

#about-list li{
  line-height: 30px;
}

/* /serviços/ */

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i {
  font-size: 40px;
  color: #0f1026;
  margin-bottom: 20px;
}

.service-box h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

.service-box:hover > i, .service-box:hover > h3 {
  color: #4973f2;
}

.service-box i, .service-box h3 {
  transition: 1s;
}

/* /Dados/ */

#data-area p {
  font-size: 20px ;
  color: white;
}

/* /time/ */

#team-area {
  margin-bottom: 65px;
}

/* /trabalhe conosco/ */

#apply-area {
  height: 500px;
}

#apply-area .row, #apply-img, #apply-content {
  height: 100%;

}

#apply-img {
  background-image: url('img/empresa.jpg');
  background-size: cover;
}

#apply-content {
  background-color: black;
}

#apply-content h4, #apply-content p {
  color: white;
}

#apply-content h4 {
  margin-top: 15%;
}

#button-content:hover{
  color: white;
  background-color: rgb(174, 0, 255);

}

#button-content{
  background-color: transparent;
  border-radius: 20px;
}

#botoes{
  display: inline;
  margin-left: 10px;
}